  img {
      width: 20rem;
      height: auto;
  }

  h1 {
      font-weight: bolder;
      font-family: 'Nunito-Bold';
      margin-top: .5rem;
      margin-bottom: 1rem;
      font-size: 4.5rem;
      color: #155883;
      line-height: 1.25;

      span {
          display: block;
      }
  }

  h2 {
      color: #155883;
      font-weight: 700;
      font-size: 3rem;
      font-family: 'Roboto-Bold';
      margin-top: 1.5rem;
      margin-bottom: 0rem;
  }

  p {
      color: #A0AEC0;
      font-weight: bolder;
      font-size: 1.3rem;
      margin-top: .3rem;
      margin-bottom: 2.8rem;
  }