$ff-roboto-thin: "Roboto-Thin";
$ff-roboto-thin-italic: "Roboto-ThinItalic";

$ff-roboto-light: "Roboto-Light";
$ff-roboto-light-italic: "Roboto-LightItalic";

$ff-roboto-regular: "Roboto-Regular";
$ff-roboto-italic: "Roboto-Italic";

$ff-roboto-medium: "Roboto-Medium";
$ff-roboto-medium-italic: "Roboto-MediumItalic";

$ff-roboto-bold: "Roboto-Bold";
$ff-roboto-bold-italic: "Roboto-BoldItalic";

$ff-roboto-black: "Roboto-Black";
$ff-roboto-black-italic: "Roboto-BlackItalic";