@use 'mixins/flex-layout-media-queries.mixin' as *;

.sidebar-widget__more {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-left: 3rem;

    span {
        font-size: 1.2rem;
        color: #989898;
    }

    img {
        margin-top: .6rem;
        width: 1.8rem;
        height: auto;
    }
}

@include lt-sm {
    .sidebar-widget__more {
        margin-left: 0rem;
    }
}